.header-container-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.header-container-navbar {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.header-container-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-container-heading {
  transition: 0.3s;
}

.header-container-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.header-container-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.header-container-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.header-container-link2 {
  margin-right: var(--dl-space-space-tripleunit);
}
.header-container-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-icon {
  width: 36px;
  height: 36px;
}
.header-container-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-container-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.header-container-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-icon2 {
  width: 24px;
  height: 24px;
}
.header-container-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-container-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-container-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-container-container2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}


@media(max-width: 991px) {
  .header-container-heading {
    text-align: center;
  }
  .header-container-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .header-container-navbar {
    position: relative;
  }
  .header-container-links-container {
    display: none;
  }
  .header-container-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .header-container-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .header-container-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text {
  width: 100%;
  text-align: left;
}
.cv-grid-text002 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text003 {
  width: 100%;
  text-align: left;
}
.cv-grid-text005 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text006 {
  width: 100%;
  text-align: left;
}
.cv-grid-text008 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text009 {
  width: 100%;
}
.cv-grid-link {
  text-decoration: underline;
}
.cv-grid-text011 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text013 {
  width: 100%;
}
.cv-grid-link01 {
  text-decoration: underline;
}
.cv-grid-text015 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text016 {
  width: 100%;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text017 {
  width: 100%;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text018 {
  width: 100%;
}
.cv-grid-text020 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text021 {
  width: 100%;
}
.cv-grid-text023 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text024 {
  width: 100%;
}
.cv-grid-text026 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text028 {
  width: 100%;
}
.cv-grid-link02 {
  text-decoration: underline;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text030 {
  width: 100%;
  line-height: 2;
}
.cv-grid-link03 {
  text-decoration: underline;
}
.cv-grid-text034 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text036 {
  width: 100%;
  line-height: 2;
}
.cv-grid-link04 {
  text-decoration: underline;
}
.cv-grid-link05 {
  text-decoration: underline;
}
.cv-grid-text040 {
  font-style: italic;
}
.cv-grid-link06 {
  text-decoration: underline;
}
.cv-grid-text043 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text045 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link07 {
  text-decoration: underline;
}
.cv-grid-text047 {
  font-style: italic;
}
.cv-grid-link08 {
  text-decoration: underline;
}
.cv-grid-text050 {
  font-style: italic;
}
.cv-grid-text051 {
  font-style: italic;
  line-height: 2;
}
.cv-grid-text052 {
  font-style: italic;
}
.cv-grid-link09 {
  text-decoration: underline;
}
.cv-grid-text055 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text057 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link10 {
  text-decoration: underline;
}
.cv-grid-text059 {
  font-style: italic;
}
.cv-grid-link11 {
  text-decoration: underline;
}
.cv-grid-text062 {
  font-style: italic;
}
.cv-grid-text065 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text067 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link12 {
  text-decoration: underline;
}
.cv-grid-text069 {
  font-style: italic;
}
.cv-grid-link13 {
  text-decoration: underline;
}
.cv-grid-text072 {
  font-style: italic;
}
.cv-grid-link14 {
  text-decoration: underline;
}
.cv-grid-text075 {
  font-style: italic;
}
.cv-grid-link15 {
  text-decoration: underline;
}
.cv-grid-text078 {
  font-style: italic;
}
.cv-grid-link16 {
  text-decoration: underline;
}
.cv-grid-text081 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text083 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link17 {
  text-decoration: underline;
}
.cv-grid-text085 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text087 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link18 {
  text-decoration: underline;
}
.cv-grid-text090 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text092 {
  width: 100%;
  line-height: 1.8;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text096 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-text098 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text100 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-text102 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text104 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link19 {
  text-decoration: underline;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text108 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link20 {
  text-decoration: underline;
}
.cv-grid-text110 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text113 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-link21 {
  text-decoration: underline;
}
.cv-grid-text115 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text117 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-text118 {
  text-decoration: underline;
}
.cv-grid-text120 {
  font-style: italic;
}
.cv-grid-text122 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text124 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-text126 {
  font-style: italic;
}




























.cv-grid-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cv-grid-container1 {
  gap: var(--dl-space-space-tripleunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cv-grid-text {
  width: 220px;
  align-self: flex-start;
  font-style: normal;
  min-height: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}
.cv-grid-text1 {
  width: 150px;
  align-self: flex-start;
  min-height: 1rem;
  text-align: right;
  flex-shrink: 0;
}
.cv-grid-custom-slot {
  display: contents;
}
.cv-grid-text128 {
  width: 100%;
  line-height: 1.8;
}
.cv-grid-text130 {
  font-style: italic;
}




























.footer-container-footer-container {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.footer-container-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.footer-container-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container-link {
  text-decoration: none;
}
.footer-container-link1 {
  text-decoration: none;
}
.footer-container-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-container-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}



.cv-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cv-container1 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
