.header-container-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.header-container-navbar {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.header-container-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-container-heading {
  transition: 0.3s;
}

.header-container-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.header-container-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.header-container-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.header-container-link2 {
  margin-right: var(--dl-space-space-tripleunit);
}
.header-container-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-icon {
  width: 36px;
  height: 36px;
}
.header-container-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-container-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.header-container-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-icon2 {
  width: 24px;
  height: 24px;
}
.header-container-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-container-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-container-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-container-container2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}


@media(max-width: 991px) {
  .header-container-heading {
    text-align: center;
  }
  .header-container-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .header-container-navbar {
    position: relative;
  }
  .header-container-links-container {
    display: none;
  }
  .header-container-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .header-container-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .header-container-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.footer-container-footer-container {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.footer-container-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.footer-container-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container-link {
  text-decoration: none;
}
.footer-container-link1 {
  text-decoration: none;
}
.footer-container-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-container-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}



.project1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.project1-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  align-self: flex-start;
  min-height: 80vh;
  align-items: center;
  padding-top: 48px;
  padding-right: 53px;
  flex-direction: column;
  justify-content: center;
}
.project1-text {
  align-self: flex-start;
}
.project1-text01 {
  align-self: flex-start;
}
.project1-text04 {
  align-self: flex-start;
  font-style: italic;
}
.project1-text07 {
  align-self: flex-start;
  font-weight: bold;
}
.project1-image {
  width: 45rem;
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.project1-text10 {
  align-self: flex-start;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 150px;
}
.project1-hero1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.project1-container1 {
  width: 50%;
  display: flex;
  align-self: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.project1-text21 {
  font-size: 3rem;
  max-width: 450px;
}
.project1-text22 {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}
.project1-text23 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.project1-text24 {
  margin-top: var(--dl-space-space-unit);
  font-weight: bold;
  margin-bottom: var(--dl-space-space-unit);
}
.project1-text25 {
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.project1-image1 {
  width: 400px;
  align-self: flex-start;
  object-fit: cover;
}
@media(max-width: 991px) {
  .project1-hero {
    flex-direction: column;
  }
  .project1-image {
    width: 80%;
  }
  .project1-text10 {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  .project1-hero1 {
    flex-direction: column;
  }
  .project1-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .project1-text21 {
    text-align: center;
  }
  .project1-text22 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .project1-text23 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .project1-text24 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .project1-text25 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media(max-width: 767px) {
  .project1-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .project1-text10 {
    text-align: left;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
  }
  .project1-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .project1-text22 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project1-text23 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project1-text24 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project1-text25 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project1-image1 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .project1-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .project1-text10 {
    align-self: flex-start;
    text-align: left;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius2);
    padding-right: 0px;
  }
  .project1-hero1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .project1-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .project1-text25 {
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius2);
    padding-right: 0px;
  }
}
