<div>
  <link href="./navbar-container.css" rel="stylesheet" />
  <div data-role="Header" class="navbar-container-navbar-container">
    <div class="navbar-container-navbar">
      <div class="navbar-container-container">
        <span class="navbar-container-heading Card-Heading">
          <span>Elena Ishchenko</span>
        </span>
        <span>
          <span>Curator, researcher, activist</span>
          <br />
        </span>
      </div>
      <div class="navbar-container-links-container">
        <span class="navbar-container-link Navbar-Link">
          <span>About</span>
        </span>
        <span class="navbar-container-link1 Navbar-Link"><span>CV</span></span>
        <span class="navbar-container-link2 Navbar-Link">
          <span>Portofolio</span>
        </span>
        <span class="Navbar-Link"><span>Contact</span></span>
      </div>
      <div data-role="BurgerMenu" class="navbar-container-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navbar-container-icon">
          <path
            d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
          ></path>
        </svg>
      </div>
      <div data-role="MobileMenu" class="navbar-container-mobile-menu">
        <div class="navbar-container-container1">
          <span class="Card-Heading navbar-container-heading1">
            <span>Logo</span>
          </span>
          <div data-role="CloseMobileMenu" class="navbar-container-close-menu">
            <svg viewBox="0 0 1024 1024" class="navbar-container-icon2">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="navbar-container-links-container1">
          <span class="navbar-container-link4 Navbar-Link">
            <span>About</span>
          </span>
          <span class="navbar-container-link5 Navbar-Link">
            <span>Experience</span>
          </span>
          <span class="navbar-container-link6 Navbar-Link">
            <span>Portofolio</span>
          </span>
          <span class="Navbar-Link"><span>Contact</span></span>
        </div>
        <div class="navbar-container-container2"></div>
      </div>
    </div>
  </div>
</div>
